.container
{
	width:200px;
	margin:0 auto;
}

ul
{
	display:none;
}

a:link
{
	text-decoration: none;
}

a:visited
{
	color:black;
}

a:hover
{
	background-color:black;
	color:white;
}

.current
{
	display:block;
}

#pager
{

	 display:block;

}